@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2 class="header">Olvidé mi contraseña</h2>
<p class="text-info">Le llegará un correo electrónico con las instrucciones para restablecer la contraseña.</p>
<p class="text-warning">Si no recibe el correo, espere; es posible que demore algunos minutos.</p>

<a asp-action="Index" asp-controller="Home" class="link-home">Return to Home</a>

<style>
    /* Cambiar colores del texto */
    .header {
        color: whitesmoke; /* Azul */
    }

    .text-info {
        color: white; /* Verde */
    }

    .text-warning {
        color: whitesmoke; /* Amarillo */
    }

    .link-home {
        color:; /* Naranja */
        text-decoration: none;
    }

        .link-home:hover {
            text-decoration: underline;
            color: #e64a19; /* Naranja más oscuro al pasar el mouse */
        }
</style>

