@{
    ViewData["Title"] = "Recuperar contraseña";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/css/img/hoysejuegaa.png" type="image/png">
    <style>
        /* Cambiar colores del texto */
        .header {
            color: whitesmoke; /* Azul */
        }
        .text-info {
            color: white; /* Verde */
        }

        .text-warning {
            color: whitesmoke; /* Amarillo */
        }

    </style>
</head>
    <body>
        <h2 class="header">Recuperar contraseña</h2>
        <p class="text-info">Le llegará un correo electrónico con las instrucciones para restablecer la contraseña.</p>
        <p class="text-warning">Si no recibe el correo, espere; es posible que demore algunos minutos.</p>
    </body>
</html>



   
