@{
    ViewData["Title"] = "Confirmación de reestablecimiento";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/css/img/hoysejuegaa.png" type="image/png">
</head>
<body>
    <h2 style="text-align: center; color: white; margin-top: 20px;">
        Contraseña Restablecida
    </h2>

    <p style="text-align: center; font-size: 18px; color: white; margin-bottom: 20px;">
        Su contraseña ha sido restablecida correctamente.
    </p>

    <div style="text-align: center;">
        <a asp-action="Login" asp-controller="Acces"
           style="text-decoration: none; color: white; background-color: #007bff;
                  padding: 10px 20px; border-radius: 5px;">
            Volver al inicio 
        </a>
    </div>
</body>
</html>