@{
    ViewData["Title"] = "Confirmación de Correo";
}

<h2 class="text-white">@ViewData["Message"]</h2>

<!-- Estilo CSS para asegurar que el texto sea blanco -->
<style>
    .text-white {
        color: white;
    }
</style>