@{
    ViewData["Title"] = "Registro Exitoso";
}

<h3 class="text-white">@ViewData["Message"]</h3>

<!-- Estilo CSS para asegurar que el texto sea blanco -->
<style>
    .text-white {
        color: white;
    }
</style>