@{
    ViewData["Title"] = "Registro Exitoso";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/css/img/hoysejuegaa.png" type="image/png">
    <style>
        .text-white {
            color: white;
        }
    </style>
</head>
<body>
    <h3 class="text-white">@ViewData["Message"]</h3>
</body>
</html>
