@{
    ViewData["Title"] = "Registro Exitoso";
}

<h2 class="text-white">Registro Exitoso</h2>
<h2 class="text-white">@ViewData["Message"]</h2>

<!-- Estilo CSS para asegurar que el texto sea blanco -->
<style>
    .text-white {
        color: white;
    }
</style>