@model IEnumerable<ProyectoHsj_Beta.ViewsModels.RolesPermisosGetViewModel>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/Layout_admin.cshtml";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        background-image: url('/css/img/logo fondo admin.png');
        background-size: contain; /* Ajusta la imagen para que se vea completa */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
        background-position: center; /* Centra la imagen */
        background-color: #000; /* Usa un color de fondo negro o el que prefieras */
    }

    h2 {
        margin-bottom: 15px;
    }

    .card {
        background-color: #444444;
        border: none;
        border-radius: 10px;
        margin-bottom: 20px;
        color: #ffffff;
        max-width: 100%;
    }

    .card-header {
        background-color: #555555;
        border-bottom: 2px solid #777777;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }

    .btn {
        border-radius: 5px;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    .btn-warning {
        color: #000;
        background-color: #ffc107;
        border: none;
    }

    .btn-danger {
        background-color: #dc3545;
        border: none;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }

    .card-body p {
        font-size: 0.9rem;
        margin-bottom: 5px;
    }

    .list-group-item {
        padding: 13px 13px; /* Aumenta el espaciado interno para hacer los botones más grandes */
        border: none; /* Elimina el borde de los elementos de lista */
        background-color: #343a40; /* Color de fondo gris para los botones */
        transition: background 0.2s; /* Transición suave para el color de fondo al pasar el mouse */
        font-size: 1.2rem; /* Aumenta el tamaño de la fuente para mayor legibilidad */
        border-radius: 8px; /* Bordes redondeados para un aspecto más moderno */
    }
</style>

<div class="container mt-4">
    <h2 style="color: white;">Detalles de los roles</h2>

    <div class="grid-container">
        @foreach (var item in Model)

        {
            <div class="card">
                <div class="card-header">
                    @item.NombreRol
                </div>
                <div class="card-body">
                    <p><strong>Permisos:</strong> @item.Permisos</p>

                </div>
            </div>
        }
    </div>
</div>

